################
TEAM INFO
################
Name1: Scott Munro
EID1: snm2232
CS login: scottnm
Email: scottnmunro@gmail.com
Unique Number: 51860

Name2: Darren Sadr
EID2: ss65728
CS login: darrenvx
Email: darren.sadr@gmail.com
Unique Number: 51850

Name3: Kevin Yoo
EID3: sky274
CS login: sky274
Email: yook94@yahoo.com
Unique Number: 51875

Name4:
EID4:
CS login:
Email:
Unique Number:

Slip days used: 2

################
